@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #3a3a3a;
    font-family: "Poppins", sans-serif;
    background: #e0e0e0;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main {
    width: 70%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background: #e0e0e0;
    box-shadow: inset 14px 14px 28px #bcbcbc,
                inset -14px -14px 28px #ffffff;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.converter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem
}

.inputField {
    width: 50%;
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    box-shadow: inset 6px 6px 12px #bcbcbc,
                inset -6px -6px 12px #ffffff;
    text-align: center;
}

.inputField label {
    font-weight: 400;
    text-transform: uppercase;
}
.inputField input {
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    width: 90%;
    padding: .8rem 1.5rem;
    border: 2px solid #ccc;
    border-radius: 5rem;
    margin: 1rem 0;
    color: #5f5f5f;
}

.inputField button {
    padding: .8rem 1.5rem;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5rem;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bcbcbc,
                -6px -6px 12px #ffffff;
    cursor: pointer;
    transition: all .3s ease-in;
}

.inputField button:hover {
    box-shadow: inset 6px 6px 12px #bcbcbc,
                inset -6px -6px 12px #ffffff;
}
